html {
    background-color: rgb(242, 242, 242);
    background-color: white;
    scroll-behavior: smooth;
}

body {
    color: black;
    background-color: white;
    line-height: 1.5;
    max-width: 840px;
    margin: 0 auto;
    font-family: 'Helvetica', 'Arial', sans-serif;
}

@media only screen and (max-width: 650px) {
    body {
        padding: 0.5em;
    }
}

@media only screen and (min-width: 650px) {
    body {
        padding: 1em;
    }

}

header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

@media only screen and (max-width: 650px) {
    header {
        display:flex;
        flex-direction: column;
    }

    header #title {
        align-self: start;
    }

    header nav {
        align-self: start;
    }
}

header>a {
    font-size: 20pt;
    text-decoration: none;
}

header nav li {
    font-size: 14pt;
    padding-left: 1em;
}

@media only screen and (max-width: 650px) {
    header nav li {
        padding-left: 0;
        padding-right: 0.5em;
        font-size: 14pt;
    }
}

header #flag {
    display: block;
    height: 25px;
}

#menu,
.contactListTop {
    display: flex;
    align-items: center;
}

.contactListTop {
    flex-direction: column;
    line-height: 2;
}

#menu>li,
.contactListTop>li,
.contactListBottom>li {
    list-style: none;
}

ul {
    margin: 0;
    padding: 0;
}

h1 {
    text-align: left;
    margin-bottom: 1em;
    margin-top: 0em;
    font-size: 16pt;
}

h2 {
    text-align: left;
    margin-bottom: 1em;
    margin-top: 0em;
    font-size: 14pt;
}

h3 {
    text-align: left;
    margin-top: 0em;
    font-size: 12pt;
}

a {
    color: black;
    text-decoration: underline;
}

.myPresentation {
    display: flex;
    align-items: center;
    flex-flow: row wrap;
}

.portrait img {
    object-fit: cover;
    max-width: 150px;
}

.portraitText {
    padding-left: 1em;
}

.portraitText li {
    padding-right: 1em;
}

.portraitText p:first-of-type {
    margin-top: 0;
}

.card {
    padding: 20px 20px;
    background-color: white;
    box-shadow: 0px 0px 10px lightgray;
    border-radius: 5px;
    margin: 1em 0;
}

#request ul,
#pricing ul {
    list-style: inside;
}

#contact {
    padding-bottom: 2em;
}

.contactListTop li,
.contactListBottom li {
    padding-right: 1em;
}

#email {
    margin-bottom: -2px;
    padding-right: 6px;
}

#linkedin {
    margin-bottom: -3px;
    margin-top: 10px;
}